# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Secrets & Environment Variables
.env

# SQLite Database
*.db
data.db

# Streamlit
.streamlit/secrets.toml

# IDE & OS
.vscode/
.idea/
*.DS_Store
Thumbs.db
